* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    background: linear-gradient(to right, #50BCFA, #2AA4F3, #1474F3);
    color: #333;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: background-color 0.5s ease;
}

main {
    flex: 1;
    display: block;
    justify-items: center;
    align-content: center;
}

form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 350px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #1474F3;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #00c851;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-weight: bold;
    transition: background-color 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: #007e33;
}

a {
    color: #1474F3;
    font-size: 0.9rem;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}